.container-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    width: 500%;
    height: 50%;;
    // background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
      margin: 1rem 0;
    }
    input {
      border: 1px solid rgb(90, 183, 236);
      padding: 1rem;
      border-radius: 5px;
      font-size: 1rem;
      color: rgb(90, 183, 236);

      &::placeholder {
        color: inherit;
      }

      &[type="submit"]{
        cursor: pointer;
        background: white;
      }
    }
  }
}
