.container-users {
  max-width: 50%;
  margin: 0 auto;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;

    button {
      border: none;
      background: #a50606;
      padding: 0.5rem 1rem;
      color: white;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .section-users {
    &__user {
      max-width: 100%;
      background: white;
      box-shadow: 1px 1px 4px rgb(204, 201, 201);
      padding: 1rem;
      margin: 0.5rem 0;
      border-radius: 5px;
    }
  }
}

.login-required {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: rgb(179, 8, 8);
    padding-bottom: 1rem;
  }
  a {
    color: red;
  }
}

@media(max-width: 764px){
  .container-users {
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }
}
